<section id="signup" class="signup-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8  mx-auto text-center">

                <h2 class="text-white ">Subscribe to our nwesletter!</h2>
                <div class="text-white mb-5">
                    <small>stay informed about us news and event</small>
                </div>
                <form class="form-inline d-flex ">
                    <input type="email" class="form-control flex-fill p-4 text-center" id="inputEmail" placeholder="Enter your address email ">
                    <button type="submit" class="btn btn-dark btn-lg mr-0 px-5 mx-auto">Send</button>
                </form>

            </div>
        </div>
        <div class="navbar navbar-expand-lg justify-content-center text-center pt-5">
            <ul class="navbar-nav m-auto ">

                <li class="nav-item">
                    <a class="nav-link text-white" href="#">OUR SERVICES </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">OFFER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">MY ACCOUNT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">PRO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">CONTACT US</a>
                </li>

            </ul>
        </div>

        <ul class="nav navbar justify-content-center ">
            <li class="nav-item ">
                <a class="nav-link text-white" href="#"><img src="assets/images/ic_facebook@2x.png"> </a>
            </li>
            <li class="nav-item  ">
                <a class="nav-link text-white" href="#"><img src="assets/images/ic_twitter@2x.png"> </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white" href="#"><img src="assets/images/ic_youtube@2x.png"> </a>
            </li>

        </ul>



    </div>
</section>