<section class="my-5">
    <div class="container py-5">
        <h5 class="title-work color-red text-center"> HOW IT WORK! </h5>
        <img class="d-block m-auto" src="assets/images/title _line_category_1@1x.png">
        <div class="row text-center py-5">
            <div class="col-md-4 text-center">
                <img src="assets/images/ic_booking@1x.png">
                <h4 class="mt-5 font-weight-bold"> Booking </h4>
                <p class="mx-5 text-muted"> Choose your service and fill your availabiliies and your location</p>


            </div>
            <div class="col-md-4 text-center">
                <img src="assets/images/ic_payment@1x.png">
                <h4 class="mt-5 font-weight-bold"> Payement </h4>
                <p class="mx-5 text-muted"> Set your payment link to confirm your appointment Payment is 100 % online via a secure platform</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="assets/images/ic_meeting@1x.png">
                <h4 class="mt-5 font-weight-bold"> Meeting </h4>
                <p class="mx-5 text-muted"> The appointment, a moment for you with a passionate expert and listening to your desires</p>
            </div>
        </div>
        <a href="#" class="btn-red text-white">I RESERVE</a>
    </div>
</section>